.ordercomplete{
    margin:100px 0;
    display: flex;
    flex-direction: column;
    padding:30px;
    align-items: center;
    line-height: 2.5;
}



.ordercomplete .MuiButton-root {
    /* text-transform: inherit; */
    margin:20px 0;
    background: #FFD814; 
    color:#000000;
    transition: .2s all linear;
}
.ordercomplete .MuiButton-root:hover {
    background: #dfbc0e; 
    color:#ffffff;
    border:#d8b253,#d8ac3c;
}
.ordercomplete a{
    text-decoration: none;    
}

@media (max-width:700px){
    .ordercomplete{
        margin-top: 170px;
    }

}