.deliveryoption{
    margin:30px 0 0;
}

.PrivateSwitchBase-input-4 {
    width: 50%!important;
    opacity: .5!important;
}

.PrivateRadioButtonIcon-root-5 .MuiSvgIcon-root {
    font-size: 1.2rem!important;
}
